td {
    padding: 20px;
    border: 1px solid black;
}
table {
    margin: 50px auto;
}

button {
    width: 100px;
    height: 60px;
    background-color: black;
    border-radius: 5px;
    color: white;

}